@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #000;
  color: #fff;
  font-family: system-ui, sans-serif;
}


* {
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
  font-family: system-ui, sans-serif;
}
