@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for Work Zone OS */

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #000;
  color: #fff;
  font-family: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}
